<div class="card container">
  <h1 class="pffbold">{{ include.title }}</h1>
  <p class="subtitle">{{ include.text }}</p>
  <p>{{ include.sec_text }}</p>

  {% for feature in include.items %}
    <img src="{{ feature.icon | relative_url }}" alt="{{ feature.text }}">
    {{ feature.text }}
  {% endfor %}

  <p>
      Are you ready to lead the education transformation?<br><br>
      <div class="page-buttons">
        <a href="https://forms.gle/3fAafWCyVxya5jf6A" class="btn primary">Apply&nbsp;here</a>
      </div>
  </p>
</div>
