<div class="card">
  <h1 class="pffbold">{{ include.title }}</h1>
  <section class="double-card">
    <div class="card-left">
      <div class="university-info">
        <img src="{{ site.baseurl }}/assets/img/logos/Epignosis-Logo.svg" alt="Epignosis Logo" class="small-image">
      </div>
      <p>{{ include.organizers[0].text }}</p>
    </div>
    <div class="card-right">
      <div class="university-info">
        <img src="{{ site.baseurl }}/assets/img/logos/uoc_logo (1) 1.svg" alt="UoC logo" >
        <div class="university-text">
          <div class="university-name">{{ include.organizers[1].name }}</div>
          <div class="department-name">{{ include.organizers[1].subtitle }}</div>
        </div>
      </div>
      <p>{{ include.organizers[1].text }}</p>
    </div>
  </section>
</div>
